<div class="row">
  <div class="col-2 thumbnail">
      <div *ngIf="previous" (click)="onChange.emit(-1)">
          <img src="{{ previous.thumbnailUrl }}" class="img-fluid" alt="{{ previous.title }}"/>
      </div>
  </div>
  <div class="col-8">
    <div *ngIf="current">
      <img src="{{ current.url }}" class="img-fluid" alt="{{ current.title }}"/>
      <div class="text-center">{{ current.title }}</div>
    </div>
    <h2 *ngIf="!current">Loading...</h2>
  </div>
  <div class="col-2 thumbnail">
    <div *ngIf="next" (click)="onChange.emit(1)">
        <img src="{{ next.thumbnailUrl }}" class="img-fluid" alt="{{ next.title }}"/>
    </div>
  </div>
</div>
